{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <div class="d-flex flex-column align-items-center gap-3 ">
                <p class='p-3'>You are logged in as {{ app.user.userIdentifier }}</p>
                <div class='container'>
                    <div class='d-flex justify-content-center gap-4 align-items-center'>
                        <h1>Vos articles</h1>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <a href="{{ path('app_article_new') }}" class="btn btn-primary fs-4 pt-0 ">+</a>
                        {% endif %}
                    </div>
                    <ul class="list-group">
                    {% for article in app.user.articles %}
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class='text-decoration-none text-dark'>
                            <li class='list-group-item d-flex justify-content-between'>
                                {{ article.title }}
                                <span class="pull-right">{{ article.createdAt|date('d-m-Y') }}</span>
                            </li>
                        </a>
                    {% else %}
                        <li class='list-group-item'>
                            <p>Vous n'avez pas encore écrit d'articles</p>
                        </li>
                    {% endfor %}
                </div>
                <div class='container'>
                    <div class='d-flex justify-content-center gap-4 align-items-center'>
                        <h1>Vos commentaires</h1>
                    </div>
                    <ul class="list-group"'>
                    {% for comment in app.user.comments %}
                        <a href="{{ path('app_article_show', {'id': comment.article.id}) }}" class='text-decoration-none text-dark'>
                            <li class='list-group-item d-flex justify-content-between'>
                                {{ comment.text }}
                                <span class="pull-right">{{ comment.createdAt|date('d-m-Y') }}</span>
                            </li>
                        </a>
                    {% else %}
                        <li class='list-group-item'>
                            <p>Vous n'avez pas encore écrit de commentaires</p>
                        </li>
                    {% endfor %}
                </div>
                <a href="{{ path('app_logout') }}" class="btn btn-lg btn-primary">Logout</a>
            </div>
        </div>
    {% else %}
        <div class=''>
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in or <a href="{{ path('app_admin_register') }}" class="btn btn-lg btn-primary">Register</a></h1>
            <div class='d-flex flex-column align-items-center gap-3'>
                <div class='form-group'>
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>
                <div class='form-group'>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit">Log in</button>
            </div>
        </div>
    {% endif %}

</form>
{% endblock %}
