{% extends 'base.html.twig' %}

{% block body %}
	<div class="card">
		<div class="card-header">
			Comment
		</div>
		{% for comment in comments %}
			{% if comment.isValidated %}
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>{{ comment.text }}</p>
						<footer class="blockquote-footer"><cite title="{{ comment.username }}">{{ comment.username }}</cite> gave this a {{ comment.note }}</footer>
					</blockquote>
					<a href="{{ path('app_comment_show', {'id': comment.id}) }}" class="btn btn-primary">Show</a>
					<a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-primary">Edit</a>
				</div>
				<hr/>
			{% endif %}
		{% endfor %}
		</div>

	{# <a href="{{ path('app_comment_new') }}" class="btn btn-primary">Create new</a> #}
{% endblock %}
