{% extends 'base.html.twig' %}

{% block body %}
	<section class="card m-2">
		<div class="card-header">
			Commentaires à verifier
		</div>
		{% for comment in unverified %}
			{% if not comment.isValidated %}
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>{{ comment.text }}</p>
						<footer class="blockquote-footer"><cite title="{{ comment.username }}">{{ comment.username }}</cite>
							{% if comment.note %}
							a noté l'article {{ comment.note }}
							<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="avatar" width="15" height="15" />
							{% endif %}
						 </footer>
					</blockquote>
					<a href="{{ path('app_comment_verifyAction', {'id': comment.id}) }}" class="btn btn-primary">Verify</a>
				</div>
			{% endif %}
		{% else %}
			<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>Pas de commentaires à vérifier</p>
					</blockquote>
			</div>
		{% endfor %}
	</section>

	<section class="card m-2">
		<div class="card-header">
			Commentaires validés
		</div>
		{% for comment in verified %}
			{% if comment.isValidated %}
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>{{ comment.text }}</p>
						<footer class="blockquote-footer"><cite title="{{ comment.username }}">{{ comment.username }}</cite>
							{% if comment.note %}
								a noté l'article {{ comment.note }}
								<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="avatar" width="15" height="15" />
							{% endif %}
						</footer>
					</blockquote>
					{{ include('comment/_delete_form.html.twig') }}
				</div>
			{% endif %}
		{% else %}
			<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>Pas de commentaires</p>
					</blockquote>
			</div>
		{% endfor %}
	</section>

{% endblock %}
