{% extends 'base.html.twig' %}

{% block body %}
	<section class="card">
		<div class="card-header">
			Commentaires a verifier
		</div>
		{% for comment in comments %}
			{% if not comment.isValidated %}
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>{{ comment.text }}</p>
						<footer class="blockquote-footer"><cite title="{{ comment.username }}">{{ comment.username }}</cite> gave this a {{ comment.note }}</footer>
					</blockquote>
					<a href="{{ path('app_comment_verifyAction', {'id': comment.id}) }}" class="btn btn-primary">Verify</a>
				</div>
				<hr/>
			{% endif %}
		{% endfor %}
	</section>

	<section class="card">
		<div class="card-header">
			Commentaires validés
		</div>
		{% for comment in comments %}
			{% if comment.isValidated %}
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>{{ comment.text }}</p>
						<footer class="blockquote-footer"><cite title="{{ comment.username }}">{{ comment.username }}</cite> gave this a {{ comment.note }}</footer>
					</blockquote>
					{{ include('comment/_delete_form.html.twig') }}
				</div>
				<hr/>
			{% endif %}
		{% endfor %}
	</section>

{% endblock %}
