{% extends 'base.html.twig' %}

{% block body %}
	<div class="card">
		<div class="card-header">
			Commenttaires a verifier
		</div>
		{% for comment in comments %}
			{% if not comment.isValidated %}
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>{{ comment.text }}</p>
						<footer class="blockquote-footer"><cite title="{{ comment.username }}">{{ comment.username }}</cite> gave this a {{ comment.note }}</footer>
					</blockquote>
					{# <form action='{{ path('app_comment_verifyAction', {'id': comment.id}) }}' method='POST'>
						<div>
							<input type="submit" name="submit" value="Search"/>
						</div>
					</form> #}
					<a href="{{ path('app_comment_verifyAction', {'id': comment.id}) }}" class="btn btn-primary">Verify</a>
				</div>
				<hr/>
			{% endif %}
		{% endfor %}
		</div>

	{# <a href="{{ path('app_comment_new') }}" class="btn btn-primary">Create new</a> #}
{% endblock %}
