{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>
    <a href="{{ path('app_category_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action='{{ path('app_category_index')}}' method='POST'>
	<h4 class="m0">Search a specific category</h4>
	{# Title #}
		<div class="form-group w-25">
			<label for="title" class="">Category</label>
			<div class="">
				<select class="form-control" id="title_search" name="title_search">
					<option {{ (title_search == '' ? 'selected') }}></option>
					{% for title in titles %}
					<option {{ (title_search == title ? 'selected') }}>{{ title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div>
			<input type="submit" name="submit" value="Search"/>
		</div>
	</form>

{% endblock %}
