{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
	<div class='d-flex justify-content-center gap-4 align-items-center'>
		<h1>Categories</h1>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_category_new') }}" class="btn btn-primary fs-4 pt-0 ">+</a>
		{% endif %}
	</div>

	<div class='container'>
		<ul class="list-group" style='border-radius : 25px;'>
		{% for category in categories %}
			<li class='list-group-item d-flex justify-content-between'>
				<a href="{{ path('app_category_show', {'id': category.id}) }}" class='text-decoration-none text-uppercase text-dark'>{{ category.title }}</a>
				<span class="pull-right">{{ category.articles|length~' article'~( category.articles|length > 1 ? 's' : '') }}</span>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Edit</a>
				{% endif %}
			</li>

		{% else %}
			<li class='list-group-item'>
				<p>No records found</p>
			</li>
		{% endfor %}
	</div>

	{# 
	<form action='{{ path('app_category_index')}}' method='POST'>
	<h4 class="m0">Search a specific category</h4>
		<div class="form-group w-25">
			<label for="title" class="">Category</label>
			<div class="">
				<select class="form-control" id="title_search" name="title_search">
					<option {{ (title_search == '' ? 'selected') }}></option>
					{% for title in titles %}
					<option {{ (title_search == title ? 'selected') }}>{{ title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div>
			<input type="submit" name="submit" value="Search"/>
		</div>
	</form> 
	#}

{% endblock %}
