{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
	<h1>Category</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ category.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ category.title }}</td>
			</tr>
			<tr>
				<th>Articles</th>
				<td>
					<ul>
						{% for article in articles %}
								<li><a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article }}</a></li>

						{% else %}
							No articles
						{% endfor %}
					</ul>
					{% if previous >= 0 %}
						<a class="btn btn-sm btn-primary" href="{{ path('app_category_show', { id: category.id, offset: previous }) }}">Précédent</a>
					{% endif %}
					Il y a {{ articles|length~' article'~( articles|length > 1 ? 's' : '') }}
					{% if next < articles|length %}
						<a class="btn btn-sm btn-primary" href="{{ path('app_category_show', { id: category.id, offset: next }) }}">Suivant</a>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_category_index') }}" class="btn btn-primary">Back to list</a>
	<a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Edit</a>
	<a href="{{ path('app_article_new_with_id', {'id': category.id}) }}" class="btn btn-primary">Create article</a>

	{{ include('category/_delete_form.html.twig') }}
{% endblock %}
