{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class='d-flex justify-content-center gap-4 align-items-center'>
        <h1>Liste des utilisateurs</h1>
        <a href="{{ path('app_admin_new') }}" class="btn btn-primary fs-4 pt-0">+</a>
    </div>

    <form action='{{ path('app_admin_index')}}' method='POST'>
		<div class="form-group w-25">
			<label for="title" class="h4">Rechercher par role</label>
			<div class="">
				<select class="form-control" id="role_search" name="role_search" class="form-control">
					<option {{ (role_search == '' ? 'selected') }}></option>
					{% for role in roles %}
					<option {{ (role_search == role ? 'selected') }} value='{{role}}'>{{ role }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<input type="submit" name="submit" value="Search" class='my-2'/>
	</form>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.username }}</td>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
                {# <td>{{ admin.password }}</td> #}
                <td>
                    <a href="{{ path('app_admin_show', {'id': admin.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_admin_edit', {'id': admin.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
