{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class='d-flex justify-content-center gap-4 align-items-center'>
        <a href="{{ path('app_admin_index') }}" class="btn btn-primary"> < </a>
        <h1>Admin</h1>
        <a href="{{ path('app_admin_edit', {'id': admin.id}) }}" class="btn btn-primary">Edit</a>
        {{ include('admin/_delete_form.html.twig') }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ admin.username }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ admin.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ admin.password }}</td>
            </tr> #}
        </tbody>
    </table>

    <div class="d-flex flex-column align-items-center gap-3 ">
                <div class='container'>
                    <div class='d-flex justify-content-center gap-4 align-items-center'>
                        <h1>Articles</h1>
                    </div>
                    <ul class="list-group">
                    {% for article in admin.articles %}
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class='text-decoration-none text-dark'>
                            <li class='list-group-item d-flex justify-content-between'>
                                {{ article.title }}
                                <span class="pull-right">{{ article.createdAt|date('d-m-Y') }}</span>
                            </li>
                        </a>
                    {% else %}
                        <li class='list-group-item'>
                            <p>Cet utilisateur n'a pas encore écrit d'articles</p>
                        </li>
                    {% endfor %}
                </div>
                <div class='container'>
                    <div class='d-flex justify-content-center gap-4 align-items-center'>
                        <h1>Commentaires</h1>
                    </div>
                    <ul class="list-group">
                    {% for comment in admin.comments %}
                        <a href="{{ path('app_article_show', {'id': comment.article.id}) }}" class='text-decoration-none text-dark'>
                            <li class='list-group-item d-flex justify-content-between'>
                                {{ comment.text }}
                                <span class="pull-right">{{ comment.createdAt|date('d-m-Y') }}</span>
                            </li>
                        </a>
                    {% else %}
                        <li class='list-group-item'>
                            <p>Cet utilisateur n'a pas encore écrit de commentaires</p>
                        </li>
                    {% endfor %}
                </div>
            </div>


{% endblock %}
