{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
	<div class='d-flex flex-column gap-3'>
		<div class='d-flex justify-content-center gap-4 align-items-center'>
			<a href="{{ path('app_article_index') }}" class="btn btn-primary"> < </a>
			<h1>{{ article.title }}</h1>
			<a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary">Edit</a>
			{{ include('article/_delete_form.html.twig') }}
		</div>

		<section class='m-2'>
			<div class='d-flex gap-3 m-2 justify-content-center'>
				<img src='http://127.0.0.1:8000/uploads/images/{{ article.image }}' alt="articleCover" width='400px' height='400px' />
				<div>
					<p class='fs-4'>{{ article.text }}</p>
				</div>
			</div>
		</section>
			<section class='m-2'>
				<h2>Commentaires</h2>
				{% if app.user %}
					<a href="{{ path('app_comment_new_with_id', {'id': article.id}) }}) }}" class="btn btn-primary">Leave a comment</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="btn border">Log in to leave a comment</a>
				{% endif %}
				<ul class="list-unstyled m-2">
					{% for comment in comments %}
						{% if comment.isValidated %}
							<li>
								<div class="card mb-4">
									<div class="card-body">
										<p>{{ comment.text }}</p>
										<div class="d-flex justify-content-between">
											<div class="d-flex flex-row align-items-center">
												<img src="https://t3.ftcdn.net/jpg/06/19/26/46/360_F_619264680_x2PBdGLF54sFe7kTBtAvZnPyXgvaRw0Y.jpg" alt="avatar" width="25" height="25" />
												<p class="small mb-0 ms-2">{{ comment.username }}</p>
											</div>
											{% if comment.note %}	
												<div class="d-flex flex-row align-items-center gap-1">
													<p class="small text-muted mb-0">{{ comment.note }} </p>
													<img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="avatar" width="15" height="15" />
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</li>
						{% endif %}
					{% else %}
						No articles
					{% endfor %}
				</ul>
				{% if previous >= 0 %}
					<a class="btn btn-sm btn-primary" href="{{ path('app_article_show', { id: article.id, offset: previous }) }}">Précédent</a>
				{% endif %}
				Il y a {{ comments|length~' commentaire'~( comments|length > 1 ? 's' : '') }}
				{% if next < comments|length %}
					<a class="btn btn-sm btn-primary" href="{{ path('app_article_show', { id: article.id, offset: next }) }}">Suivant</a>
				{% endif %}
			</section>
	</div>
{% endblock %}
